# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
.idea/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


build/classes/
lib/
out/
settings.gradle
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### STS ###
.classpath
.factorypath
.project
.settings
.springBeans


.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar